<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="server=ec2-3-141-200-64.us-east-2.compute.amazonaws.com;uid=ubuntu;pwd=P@ssw0rd;database=dapperdb" 
			 name="mysqlconn" 
			 providerName="MySql.Data.MySqlClient"
			 />
	</connectionStrings>
</configuration>